@import url("https://fonts.googleapis.com/css2?family=Lato:wght@300;700;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lato&display=swap"); // 400 Забыл в лато подключить
@import "variables";
@import "header";
@import "topNav";
@import "newArrivals";
@import "shipping";
@import "feedback";
@import "company";
@import "footer";
@import "promo.scss";
@import "topOffer.scss";
@import "featured.scss";
@import "allproductOffer.scss";
@import "bigPagination.scss";
@import "womenCollection.scss";
@import "productDetail.scss";
@import "all_shopinh.scss";

* {
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  font-family: lato, sans-serif;
}

.container {
  max-width: 1140px;
  margin: 0 auto;
}
