/*SUBSCRIBE*/

.subscribe {
  margin-top: 97px;
  margin-bottom: 109px;
  background-image: url(https://raw.githubusercontent.com/katinaskatina/GB_JS_Project_1_Images/main/GB_JS_Subscribe.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;

  .subscribe__back {
    height: 438px;
    position: relative;
    justify-content: center;
    align-self: center;
    background-image: url(https://raw.githubusercontent.com/katinaskatina/GB_JS_Project_1_Images/main/GB_JS_Subscribe_upper.png);
    
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }

  .subscribe__line {
    position: absolute;
    margin-left: 569px;
    width: 1px;
    height: 438px;
    background-color: #ffffff;
  }

  .subscribe__content {
    display: flex;
    justify-content: space-between;

    .subscribe__left {
      margin-top: 100px;
      display: flex;
      width: 570px;

      p {
        margin-left: 28px;
        margin-right: 50px;
        margin-top: 10px;
      }

      p:nth-child(1) {
        color: #222224;
        font-family: Lato;
        font-size: 16px;
        letter-spacing: 0.4px;
        font-style: italic;
        line-height: 28px;
      }

      p:nth-child(2) {
        color: $mainColor;
        font-family: Lato;
        font-size: 16px;
        font-weight: 700;
        letter-spacing: 0.4px;
        line-height: 8px;
      }

      p:nth-child(3) {
        color: #222224;
        font-family: Lato;
        font-size: 14px;
        font-weight: 400;
        letter-spacing: 0.3px;
        line-height: 0px;
      }

      .subscribe__slide {
        margin-top: 41px;
        margin-left: 15px;
        display: flex;

        a {
          margin-left: 13px;
          width: 38px;
          height: 4px;
          background-color: #d6d6d6;
          transition-duration: .5s;
        }

        a:hover,
        a:active {
          background-color: $mainColor;
        }

        a:nth-child(2) {
          background-color: $mainColor;
        }
      }
    }

    .subscribe__right {

      margin-top: 100px;
      display: flex;
      flex-direction: column;
      width: 570px;

      .subscribe__form {
        margin-left: 146px;

        h2 {
          color: #222224;
          font-family: Lato;
          font-weight: 400;
          font-size: 24px;
          letter-spacing: 0.6px;
          text-transform: uppercase;
          text-align: center;
        }

        p:nth-child(2) {
          white-space: nowrap;
          color: #222224;
          font-family: Lato;
          font-size: 14px;
          font-weight: 700;
          text-transform: uppercase;
          letter-spacing: 0.35px;
          text-align: center;
          line-height: 0px;
        }

        .subscribe__button {
          display: flex;
          margin-top: 35px;

          input {
            width: 282px;
            height: 46px;
            border-top-left-radius: 23px;
            border-bottom-left-radius: 23px;
            background-color: #e1e1e1;
            outline: none;
            border: none;
            padding-left: 20px;
          }

          button {
            position: absolute;
            margin-left: 282px;
            width: 104px;
            height: 48px;
            border-top-right-radius: 23px;
            border-bottom-right-radius: 23px;
            background-color: $mainColor;
            border: none;

            a {
              color: $subColorWhite;
              font-family: Lato;
              font-size: 14px;
              font-weight: 100;
              line-height: 46px;
              letter-spacing: 0.35px;
              text-align: center;
              text-decoration: none;
            }
          }

          button:hover {
            background-color: $subColorWhite;
            cursor: pointer;
            transition-duration: .3s;

            a{
              color: $mainColor;
            }

          }
        }
      }
    }
  }
}